.ui-widget-content {
     background:#fff;
     border: 1px solid #eee;
     border-radius: 4px;
     z-index: 99999 !important;
     color: #777;
 }

 .ui-widget-header {
     background: none;
     border:none;
     color: #777;
 }

 .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
     padding: 5px;
     border-radius: 0;
     border: none;
     color: #777;
     width: auto;
 }

 .ui-state-default, .ui-widget-content .ui-state-default {
     background: none;
     border: none;
     color: #777;
 }

 .ui-state-default, .ui-widget-content .ui-state-default:hover {
     background:#87D37C;
     color:#fff;
 }
